@charset "UTF-8";

body {
    background: url('../imagens/em_construcao-1024x458.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
}